# Boh
*.ipch
.vs/
OpenGLApp/.vs/
OpenGLApp/OpenGLApp/.vscode/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/OpenGLApp/.vs
/OpenGLApp/OpenGLApp/x64
*.tlog
*.tlog
OpenGLApp/.vs/OpenGLApp/v17/.suo
/OpenGLApp/.vs
*.tlog
*.log
/OpenGLApp/OpenGLApp/x64
/OpenGLApp/.vs
OpenGLApp/.vs/OpenGLApp/v17/.suo
OpenGLApp/.vs/OpenGLApp/v17/Browse.VC.db
OpenGLApp/.vs/OpenGLApp/v17/DocumentLayout.json
